.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  margin:20px;
  background-color:rgb(7, 92, 228);
  justify-content:space-between;
  padding:20px 20px 20px 20px;
  height:500px;
  width:1000px;
  gap: 5px;
}

.card-text{
  text-align:left;
  line-height:40px;

}

.card-body.greyed-out{
  color:#888;
}